langchain
langchain-core
langchain-google-genai
langgraph
langchain-community
geopandas
shapely
fiona
pyproj
rasterio
rasterstats
xarray
whitebox
osmnx
elevation
folium
leafmap
matplotlib
requests
pyyaml
streamlit
geodatasets
netCDF4